<div class="container-fluid">
  <h3>The Time of My Life</h3>
  <div class="row">
    <!-- Sources -->
    <div class="col">
      <span>Drag from this column...</span>
      <div ondragstart="dragstart_handler(event);" data-period="1000 Days" ondragend="de_handler(event);" id="15" draggable="true" class="source">Anne of the ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="3 Days" ondragend="de_handler(event);" id="8" draggable="true" class="source">____ of the Condor</div>
      <div ondragstart="dragstart_handler(event);" data-period="October" ondragend="de_handler(event);" id="12" draggable="true" class="source">The Hunt for Red ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="12 Years" ondragend="de_handler(event);" id="18" draggable="true" class="source">____ a Slave</div>
      <div ondragstart="dragstart_handler(event);" data-period="Forever" ondragend="de_handler(event);" id="20" draggable="true" class="source">Diamonds are ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="1 Hour" ondragend="de_handler(event);" id="3" draggable="true" class="source">____ Photo</div>
      <div ondragstart="dragstart_handler(event);" data-period="Year" ondragend="de_handler(event);" id="14" draggable="true" class="source">The ____ of Living Dangerously</div>
      <div ondragstart="dragstart_handler(event);" data-period="June" ondragend="de_handler(event);" id="11" draggable="true" class="source">Henry &amp; ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="24 Hour" ondragend="de_handler(event);" id="6" draggable="true" class="source">____ Party People</div>
      <div ondragstart="dragstart_handler(event);" data-period="Aeon" ondragend="de_handler(event);" id="19" draggable="true" class="source">____ Flux</div>
      <div ondragstart="dragstart_handler(event);" data-period="Second" ondragend="de_handler(event);" id="1" draggable="true" class="source">Sharknado 2: The ____ One</div>
      <div ondragstart="dragstart_handler(event);" data-period="Nine" ondragend="de_handler(event);" id="4" draggable="true" class="source">____ to ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="Weekend" ondragend="de_handler(event);" id="7" draggable="true" class="source">____ at Bernie's</div>
      <div ondragstart="dragstart_handler(event);" data-period="2 Weeks" ondragend="de_handler(event);" id="10" draggable="true" class="source">____ Notice</div>
      <div ondragstart="dragstart_handler(event);" data-period="Minute" ondragend="de_handler(event);" id="2" draggable="true" class="source">New York ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="7 Years" ondragend="de_handler(event);" id="17" draggable="true" class="source">____ in Tibet</div>
      <div ondragstart="dragstart_handler(event);" data-period="80 Days" ondragend="de_handler(event);" id="13" draggable="true" class="source">Around the World in ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="5 Year(s)" ondragend="de_handler(event);" id="16" draggable="true" class="source">The ____ Engagement</div>
      <div ondragstart="dragstart_handler(event);" data-period="10 Days" ondragend="de_handler(event);" id="9" draggable="true" class="source">How to Lose a Guy in ____</div>
      <div ondragstart="dragstart_handler(event);" data-period="13 Hours" ondragend="de_handler(event);" id="5" draggable="true" class="source">____: The Secret Soldiers of Benghazi</div>
    </div>

    <!-- droppable divs -->
    <div id="drops" class="col">
      <span>...to this one</span>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="1" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="2" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="3" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="4" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="5" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="6" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="7" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="8" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="9" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="10" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="11" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="12" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="13" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="14" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="15" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="16" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="17" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="18" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="19" class="destination"></div>
      <div ondrop="drop_handler(event);" ondragleave="leave_handler(event);" ondragover="over_handler(event);" data-id="20" class="destination"></div>
    </div> 
  </div>
  <hr />
  <button onclick="checkScore();">Check</button>
  <button onclick="revealTimes();">Reveal</button>
  <span id="score">0</span> / 20 
</div>

<script>
function leave_handler(ev) {
  console.log('dragLeave');
  ev.currentTarget.style.background = 'none';
}

function dragstart_handler(ev) {
 console.log("dragStart");
 
 // Add the id of the drag source element to the drag data payload so
 // it is available when the drop event is fired
 ev.dataTransfer.setData("order", ev.currentTarget.id);
 console.log('set datatransfer to:', ev.dataTransfer.getData('order'));
 // Tell the browser both copy and move are possible
 ev.effectAllowed = "move";
}

function over_handler(ev) {
 // Change the target element's border to signify a drag over event
 // has occurred
 ev.currentTarget.style.background = "#81bef7";
 ev.preventDefault();
}

function drop_handler(ev) {
  var order = ev.dataTransfer.getData("order");
  ev.preventDefault();
  var dropped = document.getElementById(order);
  if (ev.target.children.length == 0 && !ev.target.id) {
    dropped.style.border = 'none';
    ev.target.appendChild(dropped);
  } else {
    console.log('drop disallowed');
  }

}

function de_handler(ev) {
  console.log("dragEnd");
  // Remove all of the drag data
  ev.dataTransfer.clearData();
}

function checkScore() {
  var tally = 0;
  $('.destination').each(function(i) {
    var item = $(this);
    var guess = item.children().length ? item.children()[0].id : 0;
    if (item.data('id') == guess) {
      item.css('background-color', '#bcf5a9');
      console.log('right');
      tally++;
    } else {
      item.css('background-color', '#f5a9a9');
      console.log('wrong');
    }
  });
  console.log('total', tally);
  $('#score').text(tally);
}

function revealTimes() {
  $('.source').each(function(i) {
    var item = $(this),
        clue = item.text(),
        period = '<strong>' + item.data('period') + '</strong>';
        console.log(period);
    item.html(clue.replace(/____/, period));      
    $('#4').html('<strong>Nine</strong> to <strong>Five<strong>');
  });
}

</script>